*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    top: 0;
    padding-right: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    color: #ffff;
    background-color: #0f1111;
}

.border{
    border: 1.3px solid #0f1111;
}
.border:hover{
    border: 1.3px solid white;
}
/*box1*/
.nav-logo{
    height: 50px;
    width: 114px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}
/*box2*/
.nav-loc{
    width: 90.64px;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    color: #cccc;
    font-size: 0.85rem;
}
.loc-text{
    padding-left: 15px;
}
.loc-tag{
    color: #ffff;
    font-size: 1rem;
}
/*box3*/
.searchBox{
    width: 700px;
    height: 41px;
    padding-top: 8px;
    display: flex;
    justify-content: space-evenly;
    
}
.searchBox:hover{
    border: 2px solid orange;
}

.searchSelect{
    width: 60px;
    text-align: center;
    background-color: #e6e6e6;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.searchInput{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.searchIcon{
  background-color: #febd68;
  width: 60px;
  color: #0f1111;
  font-size: 1.3rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*box4*/
span{
    font-size: 0.8rem;
}

.secLine{
    font-size: 1rem;
    font-weight: 700;
}
.navHello{
    padding-top: 10px;
    width: 140px;
    height: 47px;
}
/*box5*/
.navOrders{
    padding-top: 10px;
    width: 70px;
    height: 47px;
}
/*box6*/
.navCart{
    width: 70px;
    height: 47px;
    padding-top: 8px;
    display: flex;
    align-items: center;
}
.cartIcon{
    font-size: 2rem;
    padding-right: 2px;
}

.menubar{
    height: 39px;
    background-color: #232f3e;
    color: #ffff;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menuIcon{
    font-weight: 700;
    font-size: 1rem;
}

.empty{
    width: 57%;
}
.hero{
    height: 300px;
    background-image: url(box1_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}
.india{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f6f6;
    margin-bottom: 10px;
    font-size: 0.9rem;
    height: 40px;
    width: 96.7%;
}
.cont{
    background-color: rgb(252, 215, 209);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.c1{
    margin-top: 20px;
    background-color: white;
    height: 400px;
    width: 23%;
    
}
.content{
    margin: 15px 21px 0px 21px;
}
.imgCont{
    height: 280px;
    margin-top: 20px;
    background-size: cover;
    margin-bottom: 23px;
}


a{
    text-decoration: none;
    color: #007185;
}
.pink{
    height: 25px;
    background-color: rgb(252, 215, 209);
}
.navFooter1{
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e3e52;
}
.navFooter1:hover{
    background-color: #3a4f69;
}
.navFooter1 a{
    text-decoration: none;
    color: #ffff;
    font-size: 0.92rem;
}

.navFooter2{
    height: 350px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 65px;
    padding-right: 60px;
}

.navFootBox{
    height: 290px;
    margin-top: 40px;
    width: 18%;
    color: #dddd;
    font-size: 0.9rem;
    line-height: 25px;
    display: flex;
    flex-direction: column;

}
.footBoxHeader{
    color: #ffff;
    font-weight: 770;
    margin-bottom: 7px;
    font-size: 1.2rem;
}

.navFooter3{
    height: 100px;
    background-color: #232f3e;
    border-top: 0.2px solid #2e3e52;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .logo{
    height: 50px;
    width: 113px;
    background-image: url(amazon_logo.png);
    background-size: cover;
 }
 .myName{
    margin-left: 20px;
    color: white;
    font-weight: 700;
 }

 .navFooter4{
    height: 100px;
    background-color: #0f1111;
    color: #dddd;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .copyright2{
    margin-top: 10px;
 }
